.sign-in{
<<<<<<< HEAD
    width: 380px;
=======
    width: 30vw;
>>>>>>> ecf177e332d4ac90a1e2a8062e6540b3aa8080b7
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0px;
    }
<<<<<<< HEAD

    .buttons{
        display: flex;
        justify-content: space-between;
    }
=======
>>>>>>> ecf177e332d4ac90a1e2a8062e6540b3aa8080b7
}